.cart-content {
	border-radius: 8px;
	background: #191919;
	padding: 25px 32px;
}

.cart-title-content {
	font-size: 25px;
	color: #fff;
	margin-bottom: 16px;
}

.cart-total {
	display: flex;
	justify-content: space-between;
}

.cart-total-price {
	color: #b8b8b8;
	font-size: 25px;
}

.cart-total-price span {
	color: #fff;
}

.cart-btn {
	border: none;
	display: block;
	border-radius: 6px;
	background: #6c3eb8;
	color: white;
	padding: 9px 48px;
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
	transition: 0.4s;
	margin-left: 10px;
}



.cart-btn:hover {
	background: #462e6d;
}

.cart-list {
	padding: 0;
}

.cart-item-list {
	border-radius: 8px;
	background: #212123;
	display: flex;
	padding: 12px 16px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}
.cart-item-list:last-child {
	margin-bottom: 0;
}

.img-cart-item {
	border-radius: 6px;
}

.cart-item-name,
.cart-item-remove-price {
	display: flex;
	align-items: center;
}

.cart-remove {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.cart-title-name {
	color: #fff;
	font-size: 20px;
}

.cart-subTitle-name {
	font-size: 16px;
}
.cart-price {
	color: #6c3eb8;
	font-size: 20px;
}
.cart-title {
	margin-left: 10px;
}

.cart-price {
	margin-right: 15px;
}

.button-list {
	display: flex;
}
