footer {
	border-radius: 8px;
	background: #191919;
	padding: 25px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-name-footer {
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

.logo-name-footer span {
	color: #6c3eb8;
}

.footer-text {
	color: #576067;
}

.footer-text span {
	color: #6c3eb8;
}

.footer-nav-list {
	display: flex;
	margin: 0px;
}

.footer-nav-list li {
	width: 30px;
	margin-right: 8px;
}

.footer-nav-list li:last-child {
	margin-right: 0px;
}
