.modal-date {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);

	overflow: hidden;
	overflow-y: auto;
	transition: opacity 0.3s;
	z-index: 999;
}

.modal-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
}

.modal-content {
	position: relative;
	margin: 20px;
	width: 100%;
	max-width: 600px;
	border-radius: 10px;
	background: #191919;
	padding: 40px 20px 20px 20px;
	transform: translateY(-50px);
	transition: opacity 0.3s, transform 0.3s;
}

.modal-close-button {
	cursor: pointer;
	border: none;
	position: absolute;
	top: 16px;
	right: 16px;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	transition: 0.4s;
	border-radius: 10px;
}

.modal-close-button:hover {
	background: #5a5a5a;
}

.modal-comment-data textarea {
	resize: none;
	width: 70%;
	height: 70px;
}

.modal-input {
	display: block;
	width: 50%;
	margin-bottom: 5px;
}

.modal-treatment-data {
	display: flex;
}
