.main-container-slider {
	height: 534px;
	width: 986px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
}

.window {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
}

.all-pages-container {
	height: 100%;
	display: flex;
	transition: translate;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.arrow {
	z-index: 9;
	margin-bottom: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	width: 36px;
	height: 36px;
	color: #b8b8b8;
	transition: 0.4s;
	cursor: pointer;
}
.arrow:hover {
	background: #575757;
	color: #8b57c6;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.l {
	transform: scaleX(-1);
}
